@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

:root {
    --primary: #2e9ed5;
    --text-color: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5% !important;
}

body {
    font-family: 'Lexend', sans-serif !important;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

html {
    ul {
        list-style: none;
        padding: 0;
    }
}

// Accordion
.accordion-item {
    border: none !important;
}
.accordion-button {
    padding: 0 !important;
    border: none !important;
    border-color: transparent !important;
}

.accordion-button:focus {
    outline: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
}

.accordion-body {
    padding: 0 !important;
}

// // Responsive
// @include media-breakpoint-up(sm) {
// }
// @include media-breakpoint-up(md) {
// }
// @include media-breakpoint-up(lg) {
// }
// @include media-breakpoint-up(xl) {
// }
// @include media-breakpoint-up(xxl) {
// }
